./tandoor/.env
./paperless-ngx/.env
./nginx/keys
./nginx/log
nginx/config/etc/letsencrypt/accounts/
nginx/config/etc/letsencrypt/keys/
nginx/data/mysql/mysql/
nginx/data/mysql/performance_schema/
nginx/data/mysql/npm/
nginx/letsencrypt/accounts/
nginx/letsencrypt/keys/
nginx/letsencrypt/archive/
nginx/letsencrypt/live/
nginx/data/mysql/aria_log.00000001
nginx/data/mysql/aria_log_control
nginx/data/mysql/multi-master.info
nginx/data/mysql/multi-master.info
nginx/data/nginx/dummykey.pem
nginx/letsencrypt/credentials/